---
import BaseHead from "../components/BaseHead.astro";

import Footer from "../components/Footer.astro";
export interface Props {
  title: string;
  description: string;
  permalink?: string;
  current?: string;
  canonicalURL?: string | URL;
}
const { title, description, permalink, current, canonicalURL } = Astro.props;
---

<html lang="en-US">
  <head>
    <BaseHead {title} {description} {canonicalURL} {permalink} />
  </head>

  <body class={current}>
    <a class="skip-to-content" href="#main-content">Skip to content</a>

    <slot />
    <Footer />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"
    ></script>
    <!-- <script>
      // feat
      const tlFeat1 = gsap.timeline({
        scrollTrigger: {
          trigger: ".hero_text-secondary",
          // markers: { startColor: "blue", endColor: "blue" },
          start: "-170%",
        },
      });
      tlFeat1.fromTo(
        ".hero_text-secondary",
        { opacity: 0, y: 20 },
        { opacity: 1, y: 0 }
      );
      const tlFeat2 = gsap.timeline({
        scrollTrigger: {
          trigger: ".hero_text-primary",
          // markers: { startColor: "blue", endColor: "blue" },
          start: "-170%",
        },
      });
      tlFeat2.fromTo(
        ".hero_text-primary",
        { opacity: 0, y: 20 },
        { opacity: 1, y: 0 }
      );
      // gallery
      const tlGallery = gsap.timeline({
        scrollTrigger: {
          trigger: "#gallery",
          // markers: { startColor: "blue", endColor: "blue" },
          start: "-100%",
        },
      });
      tlGallery.fromTo("#gallery", { opacity: 0, y: 20 }, { opacity: 1, y: 0 });
      // Project
      const tlTextProject = gsap.timeline({
        scrollTrigger: {
          trigger: ".text-graphic",
          // markers: { startColor: "blue", endColor: "blue" },
          start: "-330%",
        },
      });
      tlTextProject.fromTo(
        ".text-graphic",
        { opacity: 0, y: 20 },
        { opacity: 1, y: 0 }
      );
      const tlTextProject2 = gsap.timeline({
        scrollTrigger: {
          trigger: ".text-photo",
          // markers: { startColor: "blue", endColor: "blue" },
          start: "-330%",
        },
      });
      tlTextProject2.fromTo(
        ".text-photo",
        { opacity: 0, y: 20 },
        { opacity: 1, y: 0 }
      );
      // testi
      const tlTesti = gsap.timeline({
        scrollTrigger: {
          trigger: "#testimonials",
          // markers: { startColor: "blue", endColor: "blue" },
          start: "-85%",
        },
      });
      tlTesti.fromTo(
        "#testimonials",
        { opacity: 0, y: 20 },
        { opacity: 1, y: 0 }
      );
    </script> -->
  </body>
</html>
